
body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
main {
    max-width: 1000px;
    margin: auto;
}
header {
    border: dashed 1px black;
    padding: 10px;
}
ul {
    list-style-type: none;
    padding-left: 0;
    display: grid;
   
    grid-template-columns: 1fr 1fr 1fr 1fr;
    text-align: center;
}

nav img {
    max-width: 200px;
}

#first {
    
    padding: 10px;
    margin-top: 10px;
    border: dashed 1px black;
    display: grid;
    gap: 15px;
    grid-template-columns: 1fr 1fr;
}

#headline {
    text-align: center;
    -webkit-box-shadow: 5px -3px 12px -6px #000000; 
box-shadow: 5px -3px 12px -6px #000000;
    padding: 10px;
    background-color: rgb(238, 235, 232);
}

#image_headline {
    -webkit-box-shadow: 5px 5px 15px -3px #000000; 
box-shadow: 5px 5px 15px -3px #000000;
    text-align: center;
    padding: 10px;
}


#community {
    border: dashed 1px black;
    padding: 10px;
}


#featured {
    border: dashed 1px black;
    padding: 10px;
}

#course_card {
    display: grid;
    gap: 5px;
    grid-template-columns: 1fr 1fr 1fr;
}


#testiomntals {
    border: dashed 1px black;
    padding: 10px;
}

#testimontal_cards {
    display: grid;
    gap: 5px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.testimontal_p {
   
    border: solid 1px rgb(167, 167, 167);
    text-align: center;
    padding: 15px;
}

#information {
    text-align: center;
}
footer {
    display: grid;
    gap: 5px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

footer p {
    border: solid 1px rgb(167, 167, 167);
    text-align: center;
    padding: 15px;
}

@media screen and (max-width:768px) {
    ul {
            grid-template-columns: 1fr;

    }
    #first {
        grid-template-columns: 1fr;
    }
    #benefit_cards {
        grid-template-columns: 1fr 1fr;
    }
    #community_cards {
        grid-template-columns: 1fr 1fr;
    }
    #course_card {
        grid-template-columns: 1fr;
    }
    #testimontal_cards {
        grid-template-columns: 1fr;
    }
    footer {
        grid-template-columns: 1fr 1fr;
    }
}
@media screen and (max-width:360px) {
    #benefit_cards {
        grid-template-columns: 1fr;
    }
    #community_cards {
        grid-template-columns: 1fr;
    }
    footer {
        grid-template-columns: 1fr;
    }
}
