.mentor_card img {
    width: 100%;
    border-top-left-radius: 5%;
    border-top-right-radius: 5%;
}


.mentor_card {
    background-color: rgb(255, 255, 255);
    border-radius: 5%;
    margin: 10px;
    text-align: center;
    margin: auto;
    height: 100%;

}

#mentors_section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 5px;
}

.leiras_grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    
}
.mentor_leirasok p {
    font-size: smaller;
    margin: 6px;
}

.mentor_leirasok p:nth-child(4) {
    text-align: justify;
    padding: 0 50px ;
    margin: 12px;
}


.mentor_button {
  cursor: pointer;
  padding: 1em;
  margin: 20px;
  font-size: 1em;
  width: 10em;
  aspect-ratio: 1/0.25;
  color: white;
  background: #212121;
  background-size: cover;
  background-blend-mode: overlay;
  border-radius: 0.5em;
  outline: 0.1em solid #353535;
  border: 0;
  box-shadow: 0 0 1em 1em rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in-out;
  position: relative;
}

.mentor_button:hover {
  transform: scale(1.1);
  box-shadow: 0 0 1em 0.45em rgba(0, 0, 0, 0.1);
  background: linear-gradient(45deg, #212121, #252525);
  background: radial-gradient(
    circle at bottom,
    rgba(50, 100, 180, 0.5) 10%,
    #212121 70%
  );
  outline: 0;
}

.icon {
  fill: white;
  width: 1em;
  aspect-ratio: 1;
  top: 0;
  left: 0;
  margin: auto;
  transform: translate(-35%, 10%);
}

